<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://plugin.powerschool.pearson.com"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        description="Mass print a student page"
        name="Mass Print Student Screen"
        version="1.3"
        xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd">
    <publisher name="Iron County School District Data Team">
        <contact email="data@ironmail.org"/>
    </publisher>
</plugin>
